################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Terraria-Metroidmod_TmodLoader.csproj
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Metroid Mod.csproj.user
/Metroid Mod.csproj
/.vs/Metroid Mod/v14/.suo
*.bak
/Metroid Mod.sln
